header {
  background-color: white;
  color: black;
  height: 10cm;
  width: 100%;
}

body {
  background-color: aquamarine;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: red;
}

img {
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.image {
  margin: 10px;
  transition: transform 0.2s;
}

.image:hover {
  transform: scale(1.1);
}

.gambarUtamaTengah {
  text-align: center;
}

.tulisanTengah {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  word-spacing: 10px;
}

.book {
  flex-basis: 30%;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.tulisanJustify {
  text-align: justify;
}

footer {
  background-color: white;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 5px;
  }

  .image {
    width: 100%;
    height: auto;
  }
}
